<ion-header>
  <ion-toolbar>
    <ion-title>
      Aprende finanzas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" no-scroll padding>
 
    <ion-grid>
        <p>&nbsp;&nbsp;</p>
        <ion-row>
            <p>&nbsp;&nbsp;&nbsp;</p>
          <ion-col>
                <a href="/desicionesf"><img width="120px" height="100px" src="../assets/Recurso 3.png"></a>
          </ion-col>
        <ion-col>
                <a href="/calculo"><img width="120px" height="100px" src="../assets/Recurso 4.png"></a>
              </ion-col>
        </ion-row>
        <ion-row>
            <p>&nbsp;&nbsp;&nbsp;</p>
          <ion-col>
              <a href="/comunidad"><img width="120px" height="100px" src="../assets/Recurso 5.png"></a>
          </ion-col>
          <ion-col>
            <a href="/cifras"><img width="120px" height="100px" src="../assets/Recurso 6.png"></a></ion-col>
        </ion-row>
        <p>&nbsp;&nbsp;&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp;</p> 
        <ion-row class="ion-margin-top">
        <ion-col lass="ion-margin-top">
          <div>
            <img height="180px" width="280px" src="../assets/sabias-01.png"/>
          </div>
        </ion-col></ion-row>
      </ion-grid>
    
</ion-content>
