<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
          <ion-col>
            <img src="../../assets/perfil-01.png"> 
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-list>
                  <ion-item>
                    <ion-label>Nombre: Laura Torres</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Nievl: Actualmente eres Plata ¡Sigue así!</ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label>Tu % de bienestar financiero es: 30%</ion-label>
                    </ion-item>
                  <ion-item>
                    <ion-label>Configuracion</ion-label>
                  </ion-item>
                </ion-list>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
