<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs"></ion-back-button>
        </ion-buttons>
    <ion-title>  ¿Es la mejor desición?</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content class="background-image">
<ion-grid>
    <ion-row class="ion-margin-top">
    <p>&nbsp;&nbsp;&nbsp;</p><p>&nbsp;&nbsp;&nbsp;</p><p>&nbsp;&nbsp;&nbsp;</p><p>&nbsp;&nbsp;&nbsp;</p><p>&nbsp;&nbsp;&nbsp;</p><p>&nbsp;&nbsp;&nbsp;</p><p>&nbsp;&nbsp;&nbsp;</p>
    <a href="/calculo"><img width="120px" height="100px" src="../assets/Recurso 4.png"></a>
    </ion-row>
    <ion-row><img width="310px" height="180px" src="../assets/real-01.png"></ion-row>
    <ion-row>
        <ion-col>
            <ion-item>
                <ion-label position="floating">Articulo</ion-label>
                <ion-input></ion-input>
              </ion-item>   
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-item>
              <ion-label position="floating">Cupo</ion-label>
              <ion-input></ion-input>
            </ion-item>   
      </ion-col>
      <ion-col>
          <ion-item>
              <ion-label position="floating">Cuota de Manejo</ion-label>
              <ion-input></ion-input>
            </ion-item>
      </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center" class="ion-margin" > 
        <ion-col>
            <ion-item>
                <ion-label position="floating">Valor</ion-label>
                <ion-input></ion-input>
              </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>
                <ion-label position="floating"># Cuotas</ion-label>
                <ion-input></ion-input>
              </ion-item>
        </ion-col>
       
      </ion-row>
</ion-grid>


</ion-content>
